body{
    background-color: beige;
    /*display: flex;*/
}
.about-section .title{
    font-weight:bold;
    
}
.about-section {
    display: flex;
    flex-direction: column; /* Set the flex container to a column layout */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
     /* Center text within each element */
}





.separator{
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 85px;
    height: 2px;
    background-color: #0b2138;
    

}
img{
    border-radius: 50%;
        
      
}

/*
.about-section{
    text-align: center;
}*/

