body{
    background-color: beige;
}
.title{
    font-weight:bold;
}

.separator{
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85px;
    height: 2px;
    background-color: #0b2138;
    

}
img{
    border-radius: 50%;
}
