#title{
    font-size: 52px;
    color: #a2865e;
    text-align: center;    
}
#subtitle{
    font-size: 30px;
    color: #a2865e;
    text-align: center;
}
.coursec{
    color: #66a59e;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.coursec .one-course{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.coursec .one-course .link1{
    right: 0;

}
.coursec .one-course .rating{
    right: 0;
}
.iframe{
    display: none;
}
.chef {
    position: relative;
    animation: rotate 3.2s infinite linear; 
}

.chef img {
    position: absolute;
    left: 115px;
    width: 70px
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
