body{
    background-color: beige;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0ee4c8; 
    padding: 10px; 
  }

header nav ul li a {
    color: white;
  }

ul{
    list-style-type: none;/*remove the list style like the dot*/
    padding: 0;
    display:flex;  /*flex align teh bar component horizontally*/
  }

  
li {
    margin-right: 20px; 
  }
  
a {
    text-decoration: none;
    color: #0ee4c8;
    font-weight: bold;
    font-size: 16px;
    
  }
  
a:hover {
    color: #f503c5;
  }

.search {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: auto; 
    width: 180px;
  }

.about-section .title{
    font-weight:bold;
    
}
.about-section {
    display: flex;
    flex-direction: column; /* Set the flex container to a column layout */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
     /* Center text within each element */
}


.separator{
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 85px;
    height: 2px;
    background-color: #0b2138;
    display: none;
    

}
.important{
    color: red;
}

img{
    border-radius: 50%;
        
      
}



.section h4{
    text-align: start;

}
/* General styles for larger screens */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc; /* Add border for larger screens */
    padding: 20px;
    background-color: #0ee4c8;
}


/* Styles for screens up to 500px wide */
@media (max-width: 500px) {
    .form-container {
        padding: 10px;
    }

    .form-title {
        font-size: 1.5em;
    }

    .container-section-and-input {
        display: flex;
        flex-direction: column;
    }

    .section, .separator {
        margin-bottom: 10px;
    }

    form {
        margin-top: 10px;
    }

    label {
        font-size: 0.9em;
    }

    input, button {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}
